<div class="ui card four wide column">
  <div class="blurring dimmable image custom-bk-white">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <a target="_blank" id="" class="ui large inverted button open-resource-btn">
            Go<i class="ui location arrow icon"></i>
          </a>
        </div>
      </div>
    </div>
    <img class="custom-image-padding" src="" />
  </div>
  <div class="content custom-bk-grey">
    <a href="" target="_blank" class="ui sub header medium center aligned custom-hover-text-blue"></a>
  </div>
</div>
