<footer>
  <div class="ui container">
    <p class="custom-logo custom-text-white"><%= app.name %></p>
    <div class="custom-line"></div>
    <i class="copyright inverted icon"></i>
    <span class="custom-copyright"><%= app.copyright %></span>
  </div>
</footer>
