<nav class="ui top small fixed menu custom-nav-height">
  <div class="ui container">
    <div class="item">
      <a href="/" class="item custom-no-grey-bg-hover custom-no-padding">
        <p class="custom-logo">Resource Wall</p>
      </a>
    </div>
    <% if (user) { %>
    <div class="item">
      <div class="ui large icon input">
        <input type="text" placeholder="Search resources..." />
        <i class="search icon"></i>
      </div>
    </div>
    <div class="right menu item">
      <a href="#" class="item">
        <i class="icon add"></i>
      </a>

      <!-- <div class="ui menu item"> -->
      <img
        class="custom-avatar ui browse item"
        src="<%= user.avatar %>"
        alt="<%= user.name %> avatar"
      />
      <!-- </div> -->
      <div class="ui popup bottom right transition hidden custom-popup">
        <div>
          <p class="custom-name"><%= user.name %></p>
          <a class="item custom-profile">Profile Preferences</a>
          <form>
            <button class="custom-font-size custom-logout-btn" type="submit">
              Logout
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="right menu">
      <a href="/users/login" class="item custom-no-grey-bg-hover">
        <h4 class="custom-light-grey-link custom-font-size">
          Login
        </h4>
      </a>
      <div class="item">
        <a href="/users/signup" class="ui medium pink button custom-font-size">
          Sign up
        </a>
      </div>
    </div>
    <% } %>
  </div>
</nav>
