<nav class="ui top small fixed menu custom-nav-height">
  <div class="ui container">
    <div class="item">
      <a href="#" class="item custom-no-grey-bg-hover custom-no-padding">
        <p class="custom-logo">Resource Wall</p>
      </a>
    </div>
    <div class="item">
      <div class="ui large icon input">
        <input type="text" placeholder="Search resources..." />
        <i class="search icon"></i>
      </div>
    </div>
    <div class="right menu">
      <a href="#" class="item custom-no-grey-bg-hover">
        <h4 class="custom-light-grey-link custom-font-size">
          Login
        </h4>
      </a>
      <div class="item">
        <button class="ui medium pink button custom-font-size">
          Sign up
        </button>
      </div>
    </div>
  </div>
</nav>
