<nav class="ui top small fixed menu custom-nav-height">
  <div class="ui container">
    <div class="item">
      <a href="/" class="item custom-no-grey-bg-hover custom-no-padding">
        <p class="custom-logo"><%= app.name %></p>
      </a>
    </div>
    <% if (user) { %>
    <div class="item custom-search-bar">
      <div class="ui large icon input">
        <input type="text" placeholder="Search resources..." />
        <i class="search icon"></i>
      </div>
    </div>
    <div class="right menu item">

      <!-- Handle create new resource -->
      <div
        class="item custom-add-resource-button custom-no-grey-bg-hover create-new-resource"
      >
        <span>Add Resource <i class="icon add"></i></span>

        <div class="ui modal custom-modal">
          <i class="close icon"></i>
          <form class="ui form new-resource-form">
            <div class="fields">
              <div class="field">
                <label>Resource URL</label>
                <input
                  class="resource-url"
                  type="text"
                  name="content"
                  placeholder="Google, Twitter etc."
                  required="required"
                />
              </div>
              <div class="field image content thumbnail-photo"></div>
            </div>
            <div class="fields">
              <div class="field">
                <label>Resource Title</label>
                <input
                  class="title"
                  type="text"
                  name="title"
                  placeholder="Google, Twitter etc."
                  required="required"
                />
              </div>
              <div class="field">
                <label>Category</label>
                <select class="category-menu" name="category_id">
                </select>
              </div>
              <div class="field">
                <label for="check-box" >New Category</label>
                <div class="fields">
                  <input id="check-box" class="field" type="checkbox">
                  <input type="text" class="field other-category" placeholder="New category" name="categoryName" disabled>
                </div>                
              </div>
              <div class="field">

              </div>
            </div>
            <div class="field">
              <label>Description</label>
              <textarea
                class="resource-description"
                name="description"
                rows="2"
                maxlength="140"
              ></textarea>
            </div>

            <div class="actions">
              <div class="ui button cancel-form">Cancel</div>
              <button class="ui button" type="submit">Create</button>
            </div>
          </form>
        </div>

        <!-- handle profile manegment -->
      </div>
      <img
        class="custom-avatar ui browse item custom-no-close"
        src="<%= user.avatar %>"
        alt="<%= user.name %> avatar"
      />
      <div
        class="ui popup bottom right transition hidden custom-popup custom-no-close"
      >
        <div class="custom-no-close">
          <p class="custom-name custom-no-close"><%= user.name %></p>
          <a href="/profile" class="item custom-profile custom-no-close"
            >Profile Preferences</a
          >
          <form class="logout-btn">
            <button
              class="custom-font-size custom-logout-btn custom-no-close logout-btn"
              type="submit"
            >
              Logout
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="right menu">
      <a href="/users/login" class="item custom-no-grey-bg-hover">
        <h4 class="custom-light-grey-link custom-font-size">
          Login
        </h4>
      </a>
      <div class="item">
        <a href="/users/signup" class="ui medium pink button custom-font-size">
          Sign up
        </a>
      </div>
    </div>
    <% } %> <% if (user) { %>
  </div>
  <div class="custom-mobile-nav inverted">
    <button class="item">
      <a href="/"><i class="home active icon"></i></a>
    </button>
    <button class="item create-new-resource">
      <i class="add icon"></i>
    </button>
    <button class="item">
      <i class="search icon"></i>
    </button>
    <button class="item">
      <i class="bars icon"></i>
    </button>
  </div>
  <% } %>
</nav>
