<nav class="ui top small fixed menu custom-nav-height">
  <div class="ui container">
    <div class="item">
      <a href="/" class="item custom-no-grey-bg-hover">
        <span class="ui big text custom-logo">Resource Wall</span>
      </a>
    </div>
    <% if(user){%>
    <div class="right menu">
      <a href="#" class="item custom-no-grey-bg-hover">
        <%= user.name %>
      </a>
      <div class="item">
        <form action="/users?_method=DELETE" method="POST">
          <button class="ui medium pink button logout-btn" type="submit">
            Logout
          </button>
        </form>
      </div>
    </div>
    <%} else { %>
    <div class="right menu">
      <a href="/users/login" class="item custom-no-grey-bg-hover">
        <h4 class="custom-light-grey-link">Login</h4>
      </a>
      <div class="item">
        <a href="/users/signup" class="ui medium pink button">Sign up</a>
      </div>
    </div>
    <%}%>
  </div>
</nav>
