<nav class="ui top small fixed menu custom-nav-height">
  <div class="ui container">
    <div class="item">
      <a href="#" class="item custom-no-grey-bg-hover">
        <span class="ui big text custom-logo">Resource Wall</span>
      </a>
    </div>
    <div class="right menu">
      <a href="#" class="item custom-no-grey-bg-hover">
        <h4 class="custom-light-grey-link">Login</h4>
      </a>
      <div class="item">
        <button class="ui medium pink button">Sign up</button>
      </div>
    </div>
  </div>
</nav>
