<div class="item custom-add-resource-button custom-no-grey-bg-hover create-new-resource">
  <span>Add Resource <i class="icon add"></i></span>
  <div class="ui modal newResource custom-modal">
    <i class="close icon"></i>
    <form class="ui form new-resource-form">
      <h3 class="item">Add resource</h3>
      <div class="fields">
        <div class="field">
          <label>Resource URL</label>
          <input
            class="resource-url"
            type="text"
            name="content"
            placeholder="ex: lighthouselabs.ca"
            required="required"
          />
        </div>
        <div class="field image content thumbnail-photo"></div>
        <div class="field">
          <label>Resource Title</label>
          <input
            class="title"
            type="text"
            name="title"
            placeholder="ex: Google, Twitter etc."
            required="required"
          />
        </div>
      </div>
      <div class="fields">
        <div class="field">
          <label>Category</label>
          <select class="category-menu" name="category_id"> </select>
        </div>

        <div class="field">
          <div class="fields">
            <div class="ui toggle checkbox field" style="margin-left:14px !important">
              <input id="check-box" type="checkbox"/>
              <label></label>
            </div>
            <div class="field">
              <label>New Category</label>
              <input
                id="newCategory"
                type="text"
                class="other-category"
                placeholder="New category"
                name="categoryName"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="field"></div>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea
          class="resource-description"
          name="description"
          rows="2"
          maxlength="140"
        ></textarea>
      </div>

      <div class="actions">
        <div class="ui button cancel-form">Cancel</div>
        <button class="ui button" type="submit">Create</button>
      </div>
    </form>
  </div>