<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Resource - Login</title>
    <%- include('partials/_head.ejs') %>
    <!-- App scripts -->

  </head>

  <body>
    <%- include("partials/_nav",user) %>
  </head>
  <body>
  <br />
  <br />
  <br />
  <br />
  <h3>home page</h3>
  
  </body>
  
  </body>

</html>
