<!DOCTYPE html>

<html lang="en">

  <head>

    <title><%= app.name %> - Home</title>

    <%- include("partials/_head") %>

  </head>

  <body>

    <%- include("partials/_nav") %>

    <h1 style="width: 100%; margin-top: 7em; text-align: center;">You're the best <%= user.name %> ever.</h1>

  </body>

</html>
