<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Resource - Landing</title>
    <%- include("partials/_head") %>
  </head>

  <body>
    <%- include("partials/_nav") %>

    <main class="custom-landing-page-main">
      <div class="custom-hero"></div>
      <div class="ui container">
        <div class="custom-hero-content">
          <p>
            <span class="ui massive text custom-bold">Resource Wall</span>
          </p>
          <p>
            <span class="ui large text custom-bold custom-text-color_1">
              An app that holds all your favorite resources in one place!
            </span>
          </p>
          <button class="ui pink massive button custom-button-width">
            Get Started
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
