<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Resource - Landing</title>
    <%- include("partials/_head") %>

    <!-- App scripts -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="module" src="/scripts/landing-page.js"></script>
  </head>

  <body>
    <%- include("partials/_nav") %>

    <main class="custom-landing-page-main">
      <div class="custom-hero"></div>
      <section class="ui container">
        <div class="custom-hero-content">
          <p>
            <span class="ui massive text custom-bold">Resource Wall</span>
          </p>
          <p>
            <span class="ui large text custom-bold custom-text-color_1">
              An app that holds all your favorite resources in one place!
            </span>
          </p>
          <a
            href="/register"
            class="ui pink massive button custom-button-width"
          >
            Get Started
          </a>
        </div>
      </section>
      <section class="ui container">
        <div class="custom-popular-resources">
          <h2 class="custom-text-center">Popular Resources</h2>
          <div
            class="ui special four doubling cards custom-resources"
            id="popular-resources"
          ></div>
        </div>
      </section>
    </main>
  </body>
</html>
