<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/semantic/dist/semantic.min.css"
      type="text/css"
    />

    <link rel="stylesheet" href="/styles/landing-page.css" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav class="ui top inverted olive large fixed menu">
      <div class="ui container">
        <a href="#" class="item">
          Logo
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui button">Log-in</div>
          </div>
          <div class="item">
            <div class="ui primary button">Sign up</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="custom-hero">
      <div class="ui container">
        <p>
          <span class="ui huge text custom-white">Resource Wall</span>
        </p>
        <p>
          <span class="ui big text custom-white">
            You should try this app out!
          </span>
        </p>
        <button class="ui olive button">Get Started</button>
      </div>
    </div>
  </body>
</html>
