<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= app.name %> - Login</title>

    <%- include("partials/_head") %>

    <link rel="stylesheet" type="text/css" href="/styles/login-page.css" />
  </head>

  <body>
    <%- include("partials/_nav") %>
    <div class="custom-login">
    </div>
    <div class="ui middle aligned center aligned grid custom-login-box">
      <div class="column">
        <h2 class="ui header">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form class="login-form ui large form">
          <div class="ui stacked segment background">
            <div class="field">
              <div class="ui left icon input">
                <i class="envelope outline icon"></i>
                <input
                  class="login-input login-email"
                  type="text"
                  name="email"
                  placeholder="E-mail"
                  required="required"
                />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input
                  class="login-input login-password"
                  type="password"
                  name="password"
                  placeholder="Password"
                  required="required"
                />
              </div>
            </div>
            <button
              class="ui fluid large pink button custom-submit-btn"
              type="submit"
            >
              Login
            </button>
          </div>
          <div class="ui error message"></div>
        </form>
        <div class="ui custom-link">
          New to us? <a href="/users/signup">Sign Up</a>
        </div>
      </div>
    </div>
    <%- include('partials/_footer.ejs') %> 
  </body>
</html>
