.custom-landing-page-main {
  position: relative;
  margin-top: 3.7em;
}

.custom-landing-page-main .custom-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 54em;
  opacity: 0.3;
  z-index: -1;
  background: linear-gradient(rgba(11, 144, 243, 0.4), rgba(231, 34, 145, 0.4)), url("/assets/images/hero.jpg");
  background-position: bottom, bottom;
  background-size: cover, cover;
}

.custom-landing-page-main .custom-hero-content {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-gap: 2em;
  height: 54em;
}

.custom-landing-page-main .custom-hero-content .custom-bold {
  font-weight: 600;
}

.custom-landing-page-main .custom-hero-content .custom-button-width {
  width: fit-content;
}
