// base.scss
//
// Base style for all pages.

p,
h1,
h2,
h3,
h4,
h5,
div,
input,
button,
a,
.button {
  font-family: "Montserrat", sans-serif !important;
}

i:before * {
  font-family: "Open Sans" !important;
}

:root {
  --color_1: #3a3a3a;
  --color_2: #222222;
  --color_3: rgb(186, 186, 186);
  --color_4: #0b90f3;
  --color_5: #e72291;
  --color_6: rgb(247, 247, 247);
  --color_7: rgba(34, 36, 38, 0.1);
}

.custom-text-color_1 {
  color: var(--color_1);
}

button:hover,
.button:hover {
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3) !important;
}

button:focus,
input:focus {
  outline: 0;
}
