.custom-big-card {
  margin-bottom: 1.5em !important;
  // width: 400px;

  .custom-resource-area {
    padding: 0 !important;
    height: 7em;
    display: flex !important;
    flex-direction: row;

    .custom-image-link {
      position: relative;
      &:hover {
        .custom-image-hover {
          background-color: rgba($color: #000000, $alpha: 0.025);
        }
      }

      .custom-resource-image {
        height: 100%;
        width: 7em;
        // width: 5em;
        border-right: 1px solid var(--color_7);
        padding: 1em;
      }

      .custom-image-hover {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .custom-resource-name {
      font-weight: 500;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 1.2em;
      line-height: 2em;
      display: grid;
      align-content: center;
      grid-gap: 0.2em;

      a {
        color: var(--color_2);
        font-weight: 600;
        width: fit-content;
        &:hover {
          color: var(--color_4);
        }
      }

      .custom-resource-description {
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.5em;
        overflow: auto;
        max-height: 3em;
        padding-right: 1em;
        &::-webkit-scrollbar {
          width: 3px;
        }
      }
    }
  }

  .custom-view-previous {
    color: var(--color_4);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.custom-big-card .custom-poster-name {
  font-weight: 700 !important;
}

.custom-big-card .custom-comment-hidden,
.custom-big-card .custom-previous-hidden,
.custom-big-card .custom-resource-id,
.custom-big-card .custom-message-hidden,
.custom-big-card .custom-default-hidden,
.custom-big-card .custom-comment-id {
  display: none !important;
}

.custom-big-card .custom-like {
  color: #ff2733;
}

.custom-big-card .custom-like-count {
  padding-left: 5px;
  min-width: 12px;
}

.custom-big-card .custom-rating {
  padding: 1em;
  position: absolute;
  right: 0;
  display: none;

  .custom-avg-rating.not-rated {
    color: var(--color_3);
  }

  .custom-avg-rating.rated {
    font-weight: 500;
  }
}

.custom-big-card .custom-new-comment-container {
  width: 100% !important;
  // display: flex !important;
}

.custom-big-card .new-comment {
  width: 100% !important;
  padding-top: 1em !important;
  resize: none !important;
}

.custom-big-card .custom-edit-input {
  width: 100% !important;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  padding-left: 1em;
  line-height: 1.5em;
  background-color: var(--color_6);
  border-radius: 5px;
  border: none;
  resize: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px var(--color_3);
  }
}

.custom-big-card .custom-confirm-delete-comment {
  // color: red !important;
  // color: var(--color_2) !important;
  font-weight: 500;
}

.custom-big-card .custom-cancel-delete-comment {
  // color: var(--color_4) !important;
  font-weight: 500;
}

.custom-big-card .custom-delete-comment-prompt {
  // color: var(--color_4) !important;
  font-weight: 500;
  // text-decoration: underline;
  padding-right: 1em;
  color: red;
  // background-color: var(--color_5);
}

@media only screen and (min-width: 768px) {
  .custom-big-card .custom-rating {
    display: block !important;
  }

  .custom-big-card {
    .custom-resource-area {
      height: 10em;

      .custom-image-link {
        .custom-resource-image {
          width: 10em;
        }
      }
      .custom-resource-name {
        grid-gap: 0.8em;
      }
    }
  }
}
