footer {
  width: 100vw;
  height: 10em;
  background-color: var(--color_4);
  padding-top: 2em;
  color: white;

  .custom-line {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-bottom: 1em;
  }

  .custom-text-white {
    color: white;
  }

  .custom-copyright {
    font-weight: 500;
  }
}
