.custom-landing-page-main {
  $hero_height: 54em;

  position: relative;
  margin-top: 3.7em;

  .custom-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: $hero_height;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(
        rgba($color: #0b90f3, $alpha: 0.4),
        rgba($color: #e72291, $alpha: 0.4)
      ),
      url("/assets/images/hero.jpg");
    background-position: bottom, bottom;
    background-size: cover, cover;
  }

  .custom-hero-content {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-gap: 2em;
    height: $hero_height;

    .custom-bold {
      font-weight: 600;
    }

    .custom-button-width {
      width: fit-content;
    }
  }
}

.custom-popular-resources {
  display: grid;
  width: 100%;
  padding: 3em 0;

  .custom-text-center {
    text-align: center;
  }

  .custom-resources {
    padding-top: 2em;
  }
}

.custom-padding {
  padding: 1em;
}

.custom-bk-white {
  background-color: white !important;
}

.custom-bk-grey {
  background-color: var(--color_6) !important;
}

.custom-hover-text-blue:hover {
  color: var(--color_4) !important;
}
