@mixin center($property) {
  position: relative;
  top: $property;
  left: $property;
  transform: translate(-$property, -$property);
}
@mixin background() {
  background: linear-gradient(
      rgba($color: #0b90f3, $alpha: 0.05),
      rgba($color: #e72291, $alpha: 0.05)
    ),
    url("/assets/images/swirl.png");
}

.custom-login {
  position: fixed;
  top: 3.7em;
  height: calc(100vh - 3.7em);
  width: 100vw;
  @include background();
  z-index: -1;
}

.custom-login-box {
  @include background();
  @include center(50%);
  max-width: 450px;
  transition: 0.3s;
  h2 {
    div {
      color: var(--color_4);
    }
  }

  &:hover {
    box-shadow: 4px 7px 9px -5px rgba(230, 172, 230, 1);
  }
}

.custom-link {
  margin-top: 20px;
}

footer {
  position: absolute;
  bottom: 0;
}
