.custom-logo {
  font-weight: 600;
  font-family: "Berkshire Swash", cursive !important;
  color: var(--color_4);
  font-size: 1.5em;
}

.custom-nav-height {
  height: 4em;
}

.custom-light-grey-link {
  color: var(--color_3);
}

nav .custom-font-size {
  font-size: 0.9em !important;
}

nav .custom-no-padding {
  padding: 0 !important;
}

.custom-no-grey-bg-hover:hover {
  background-color: rgba($color: white, $alpha: 0) !important;
  .custom-light-grey-link {
    color: var(--color_4);
  }
}

nav .custom-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
  padding: 0px !important;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
  }
}

nav .custom-avatar.active {
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2) !important;
}

nav .custom-popup{
  margin-right: 0.8em !important;
  margin-top: 3.7em !important;
  width: 15em !important;
  // height: 10em !important;

  div {
    display: grid;
    justify-items: center;
    height: 100%;
    // grid-gap: 1em;
    padding: 1em 0;

    .custom-name {
      font-size: 1.3em;
      font-weight: 700;
      border-bottom: 1px solid var(--color_3);
      width: 100%;
      text-align: center;
      padding-bottom: 1.3em;
      margin-block-end: 0;
      color: var(--color_5);
    }

    .custom-profile {
      border-bottom: 1px solid var(--color_3);
      width: 100%;
      text-align: center !important;
      margin-bottom: 1.9em;
      padding-left: 1.5em !important;
      font-weight: 500 !important;
    }

    .custom-logout-btn {
      box-shadow: none !important;
      cursor: pointer;
      padding: 0.5em 1.1em;
      border: 1px solid var(--color_3);
      color: var(--color_2);
      border-radius: 5px;
      font-weight: 500;
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}

nav .custom-add-resource-button {
  span {
    color: var(--color_3);
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 0.1em;
    padding-right: 0.5em;
    cursor: pointer;
    &:hover {
      color: var(--color_4);
    }

    i {
      font-size: 0.95em;
    }
  }
}

nav .custom-search-bar,
nav .custom-add-resource-button {
  display: none !important;
}

nav .custom-mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3.85em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.4);

  button {
    padding-left: 20px !important;
    border: none;
    cursor: pointer;
    &:hover {
      box-shadow: none !important;

      i {
        color: var(--color_5);
      }
    }
    i {
      font-size: 1.8em;
      color: var(--color_3);
    }

    i.active {
      color: var(--color_5);
    }
  }
}

@media only screen and (min-width: 768px) {
  .custom-logo {
    font-size: 2em;
  }
}

@media only screen and (min-width: 992px) {
  nav .custom-font-size {
    font-size: 1.07142857rem !important;
  }

  nav .custom-search-bar,
  nav .custom-add-resource-button {
    display: flex !important;
  }

  nav .custom-mobile-nav {
    display: none;
  }
}