// profile-page.scss
//
// Profile page specific style.

main {
  margin:              7rem auto 10rem;
  max-width:           50rem;

  .column .segment {
    padding-top:         1.75rem !important;
    padding-bottom:      1.75rem !important;
  }

  .custom-avatar-container {
    width:               100%;
    text-align:          center;
  }

  #avatar {
    display:             inline-block;
    width:               10rem;
    height:              10rem;
    margin:              1rem 0;
    border-radius:       5rem;
    background-position: center;
    background-size:     120%;
  }

  .custom-button-container {
    display:             flex;
    flex-flow:           row wrap;
    justify-content:     space-between;
  }

  form button {
    min-width:           10rem;
  }
}
